.benefits-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1200px;
    /* height: 60vh;  */
    margin: 0 auto;    
}

.benefits-video {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 1.5rem;
}

.benefits-video video {
    width: 100%;
    height: auto; 
}
.benefits-container-info{
    padding: 1.5rem;
}

.benefits-items {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.benefits-item{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.benefits-item img{
    width: 60px;
    height: 40px;
}
.benefits-item h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.benefits-item p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.benefits-cta-container{
    max-width: 65%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.benefits-cta-text{
    background-color: black;
    color: white;
    padding: 0.8rem;
    
}
.benefits-cta-description{
    font-size: 0.8rem;
}

@media only screen and (min-width: 1024px  ) {
    .benefits-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .benefits-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}